@import '{reywood:bootstrap3-sass}/bootstrap';

body {
  color: #464c3e;
  font-family: "Museo Sans", sans-serif;
  font-size: 18px;
}

a, a:hover {
  color: #389BFF;
}

/* NAVBAR */
.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  font-family: "paganini-open", serif;
  font-size: 3em;
}

.navbar-default {
  background-color: #31E14E;
  min-height: 80px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: #389BFF;
}

.navbar-header {
  margin-top: 15px;
}

.navbar-right {
  margin-top: 10px;
}

/* End NAVBAR */


.fa {
  color: #fff;
}

.fa:hover {
  color: #389BFF;
}

.invoice-background {
  background-color: #F2F2F2;
}

.invoice-body {
  background-color: #fff;
  margin: 40px auto 60px auto;
  padding: 15px;
  border-radius: 10px;
}
